.EMailMainHeader {
	width: 590px;
	height: 50px;
	float: left;
	margin: 10px;
	border-bottom: solid 0.1em #E1E1E1;
	background-color: #FAFAFA;
	p {
		height: 20px;
		float: left;
		margin: 10px;
		padding: 5px;
		font-family: 'Oswald', sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: #666;
		i { 
			margin-top: 5px;
			margin-right: 10px;
			color: #C00;
			&:nth-child(1) { float: left;font-size: 14px; }
			&:nth-child(2) { float: right;font-size: 16px; } 
		}
		&:nth-child(1) { width: 560px; }
	}
}
.EMailMainBottom {
	width: 590px;
	height: 50px;
	float: left;
	margin: 10px;
	border-bottom: solid 0.1em #E1E1E1;
	background-color: #FAFAFA;
	p {
		width: 30px;
		height: 24px;
		float: left;
		margin: 10px 5px;
		padding-top: 6px;
		font-family: 'Oswald', sans-serif;
		font-size: 12px;
		font-weight: 300;
		color: #2f4d69;
		text-align: center;
		background-color: #EEE;
		border-radius: 100%;
		box-shadow: 0px 0px 8px #CCC inset;
		&:nth-child(1) { margin-left: 20px; }
		&:hover { color: #C00;cursor: pointer; }
		&:active { color: #C00; }
		a { color: #2f4d69;text-decoration: none; &:hover { color: #C00; } }
	}
}

.EMailMainCenter { height: 785px; }
.EMailMainCenter2 { height: 855px; }
.EMailMainCenter {
	width: 590px;
	float: left;
	margin: 10px;
	border-bottom: solid 0.1em #E1E1E1;
	background-color: #FAFAFA;
}

.EMailMainCenter-Line { width: 290px; }
.EMailMainCenter-Line3 { width: 590px; }
.EMailMainCenter-Line, .EMailMainCenter-Line3 {
	height: 30px;
	float: left;
	p {
		height: 25px;
		float: left;
		margin: 10px 5px;
		padding-top: 5px;
		font-family: 'Oswald', sans-serif;
		font-size: 13px;
		font-weight: 300;
		color: #666;
		border-bottom: solid 0.1em #EEE;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		&:nth-child(1) { 
			width: 30px; 
			border: none;
			transition: color 0.8s ease;
			i { margin-left: 9px; }
		}
		&:nth-child(1):hover { color: #C00;cursor: pointer; }
		&:nth-child(2) { width: 150px;padding-left: 10px;padding-right: 10px; }
		&:nth-child(3) { width: 60px;text-align: center;color: #C00; }
		input[type="checkbox"]{
			float: left;
			margin-top: 5px;
			margin-left: 10px;
		}
	}

	button {
		width: 120px;
		height: 30px;
		float: left;
		margin-top: 30px;
		margin-left: 15px;
		font-family: 'Oswald', sans-serif;
		font-size: 16px;
		font-weight: 300;
		color: #333;
		text-align: left;
		border: none;
		background-color: #EEE;
		transition: all 0.8s ease;
		&:hover { color: #FFF;background-color: #a4d708;cursor: pointer; }
		i { float: left;margin-top: 5px;margin-left: 30px;margin-right: 10px; }
	}
}

.EMailMainCenter-Line2 {
	width: 590px;
	min-height: 40px;
	float: left;
	margin-bottom: 0px;
	p {
		min-height: 35px;
		float: left;
		margin: 10px 5px;
		padding-top: 10px;
		font-family: 'Oswald', sans-serif;
		font-size: 15px;
		font-weight: 300;
		color: #666;
		&:nth-child(1) { 
			width: 90px;
			margin-right: 20px;
			padding-left: 10px; 
			color: #C00;
		}
		&:nth-child(2) { 
			width: 450px;
			input[type="text"]{
				width: 410px;
				height: 30px;
				float: left;
				padding: 10px;
				font-family: 'Oswald', sans-serif;
				font-size: 16px;
				font-weight: 300;
				color: #666;
				background-color: #FFF;
				border-top: none;
				border-bottom: solid 0.1em #EEE;
				border-left: none;
				border-right: none;
				outline: none;
				&:focus { border-bottom: solid 0.1em #a4d708; }
			}
			textarea {
				width: 410px;
				height: 150px;
				float: left;
				padding: 10px;
				font-family: 'Oswald', sans-serif;
				font-size: 16px;
				font-weight: 300;
				color: #666;
				background-color: #FFF;
				border-top: none;
				border-bottom: solid 0.1em #EEE;
				border-left: none;
				border-right: none;
				outline: none;
				&:focus { border-bottom: solid 0.1em #a4d708; }
			}
			select {
				width: 430px;
				height: 40px;
				float: left;
				padding: 10px;
				font-family: 'Oswald', sans-serif;
				font-size: 16px;
				font-weight: 300;
				color: #666;
				outline: none;
				border: solid 0.1em #FFF;
				background: rgba(255,255,255,0.3);
			}
		}
	}
	button {
		width: 120px;
		height: 30px;
		float: left;
		margin-left: 15px;
		font-family: 'Oswald', sans-serif;
		font-size: 16px;
		font-weight: 300;
		color: #333;
		text-align: left;
		border: none;
		background-color: #EEE;
		transition: all 0.8s ease;
		&:hover { color: #FFF;background-color: #a4d708;cursor: pointer; }
		i { float: left;margin-top: 5px;margin-left: 25px;margin-right: 10px; }
	}
}